@charset "UTF-8";

body{
    background-color: rgba(0, 255, 255, 0.712);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgb(73, 238, 109);
}

h1#principal{

    text-align: center;
}

h2{
    color: blue;
}

.basico{

    color: yellow;

}
.intermediario{
    color: gold;

}

.avançado{
    color: chocolate;

}